{% extends "base.html" %}
{% block content %}   
<h1>Список записей</h1>

<form action="" method="get" class="search-form">
    <fieldset class="fieldset-highlight">
        <legend>Поиск</legend>
        <input type="text" name="q" placeholder="Поиск по записи" value="{{ request.GET.q }}">
    </fieldset>

    <fieldset class="options">
        <legend>Условия выборки</legend>
        <label><input type="checkbox" name="search_by_phone" {% if request.GET.search_by_phone or 'q' not in request.GET %}checked{% endif %}> По телефону</label>
        <label><input type="checkbox" name="search_by_name" {% if request.GET.search_by_name %}checked{% endif %}> По имени</label>
        <label><input type="checkbox" name="search_by_comment" {% if request.GET.search_by_comment %}checked{% endif %}> По тексту комментария</label>
    </fieldset>

    <fieldset class="options">
        <legend>Статус записи</legend>
        <label><input type="checkbox" name="status_new" {% if request.GET.status_new or 'q' not in request.GET %}checked{% endif %}> Новая</label>
        <label><input type="checkbox" name="status_confirmed" {% if request.GET.status_confirmed %}checked{% endif %}> Подтвержденная</label>
        <label><input type="checkbox" name="status_completed" {% if request.GET.status_completed %}checked{% endif %}> Завершенная</label>
        <label><input type="checkbox" name="status_canceled" {% if request.GET.status_canceled %}checked{% endif %}> Отмененная</label>
        <label><input type="checkbox" name="status_reserved" {% if request.GET.status_reserved %}checked{% endif %}> Резерв</label>

    </fieldset>

    <fieldset class="options">
        <legend>Порядок сортировки</legend>
        <label><input type="radio" name="order_by_date" value="desc" {% if request.GET.order_by_date == 'desc' or 'q' not in request.GET %}checked{% endif %}> По убыванию даты</label>
        <label><input type="radio" name="order_by_date" value="asc" {% if request.GET.order_by_date == 'asc' %}checked{% endif %}> По возрастанию даты</label>
    </fieldset>

    <button type="submit">Найти</button>
</form>


    <div class="flex-container">
        {% comment %} Проверка на пустую коллекцию empty{% endcomment %}
        {% for application in applications %}
        {% include "include_application_card.html" %}
        {% endfor %}
    </div>

    {% comment %} Пагинатор BS5 
    Не активная страница   <li class="page-item"><a class="page-link" href="#">2</a></li>
    Активная страница
    <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
    {% endcomment %}

    {% comment %} Проверим есть ли другие страницы {% endcomment %}
    {% if page_obj.has_other_pages %}
        <nav aria-label="...">
            <ul class="pagination pagination-lg justify-content-center">
                {% comment %} Открываю цикл шаблонизатора {% endcomment %}
                {% for page in page_obj.paginator.page_range %}
                {% comment %} Проверяем на текущую страницу {% endcomment %}
                {% if page == page_obj.number %}
                   <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% else %}
                   <li class="page-item"><a class="page-link" href="?{% if get_params %}{{ get_params }}&{% endif %}page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}

{% endblock content %} 