{% extends "base.html" %}
{% load static %}
{% block content %}

{# Раздел с противопоказаниями #}
<section id="contraindications" class="py-2">
     <div class="container">
        <div class="row align-items-center py-5">
            <h2 class="display-12 fw-bold mb-3 text-center">ПРОТИВОПОКАЗАНИЯ</h2>
            <h2 class="display-7 fw-bold text-center">Противопоказания к перевернутым позам:</h2>
                <div class="col-md-6 order-md-1 contraindications-column">
                    <p class="lead mb-0">* Глаукома.</p>
                    <p class="lead mb-0">* Недавно перенесенная операция (особенно на плечах, глазах, спине, бедрах, руках или запястьях).</p>
                    <p class="lead mb-0">* Чрезмерно высокое или низкое кровяное давление.</p>
                    <p class="lead mb-0">* Склонность к головокружениям.</p>
                    <p class="lead mb-0">* Остеопороз, или слабость костной ткани.</p>
                    <p class="lead mb-0">* Недавно перенесенные травмы головы.</p>
                    <p class="lead mb-0">* Сердечные заболевания.</p>
                    <p class="lead mb-0">* Склонность к обморокам.</p>
                    <p class="lead mb-0">* Синдром запястного канала.</p>
                    <p class="lead mb-0">* Артрит тяжелой степени.</p>
                    <p class="lead mb-0">* Синусит.</p>
                    <p class="lead mb-0">* Грыжа пищеводного отверстия диафрагмы.</p>
                    <p class="lead mb-0">* Межпозвоночная грыжа.</p>
                    <p class="lead mb-0">* Недавно перенесенный инсульт.</p>
                    <p class="lead mb-0">* Склероз головного мозга.</p>
                    <p class="lead mb-0">* Косметические инъекции (за последние 6 часов).</p>
                </div>
                <div class="col-md-6 order-md-2 contraindications-column">
                    <img src="{% static 'images/contraindications.jpg' %}" class="img-fluid rounded" alt="contraindications"  style="max-height: 525px;">
                </div>
        </div>
        <div class="row align-items-center py-5">
            <div class="col">
                <h2 class="display-7 fw-bold mb-3 text-center">Не следует посещать йогу в гамаках:</h2>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <div class="d-flex flex-column text-with">
                        <p class="lead mb-0">* При любых острых заболеваниях внутренних органов (например, при обострении панкреатита или холецистита, при аппендиците и т. д.).</p>
                        <p class="lead mb-0">* При значительно повышенном артериальном давлении, гипертонии 2-3 стадии, при значительно повышенном внутричерепном давлении.</p>
                        <p class="lead mb-0">* При паховых грыжах.</p>
                        <p class="lead mb-0">* При тяжелых поражениях сердца, тяжелой ишемической болезни, в первые 3-6 месяцев после инфаркта миокарда (далее только после консультации доктора и под тщательным наблюдением).</p>
                        <p class="lead mb-0">* При пароксизмальной тахикардии, при мерцательной аритмии, при аневризме аорты и некомпенсированных пороках сердца.</p>
                        <p class="lead mb-0">* При психических заболеваниях, особенно шизофрении и склонности к психозам (исключение - депрессии: при депрессиях занятия йогой могут быть полезны. но лучше все-таки проконсультироваться с врачом)</p>
                        <p class="lead mb-0">* Первые 6 месяцев после инсульта (далее после консультации и по рекомендации доктора).</p>
                        <p class="lead mb-0">* При инфекционных поражениях суставов: например, инфекционном или реактивном артрите.</p>
                        <p class="lead mb-0">* При тяжелых черепно-мозговых травмах и травматических повреждениях позвоночника (переломах костей позвоночника в стадии декомпенсации).</p>
                        <p class="lead mb-0">* При злокачественных новообразованиях (то есть при раке или саркоме).</p>
                        <p class="lead mb-0">* При тяжелых заболеваниях крови.</p>
                        <p class="lead mb-0">* Не следует практиковать йогу сразу после операций на органах брюшной полости и грудной клетки (нужно выждать 2-3 месяца – далее после консультации с лечащим врачом).</p>
                        <p class="lead mb-0">* При простуде и гриппе, при повышенной температуре тела – практику отложить.</p>
                        <p class="lead mb-0">* Женщинам в критические дни (1-2 день) занятия лучше пропустить.</p>
                        <p class="lead mb-0">* При повреждениях менисков к практике следует преступать очень осторожно, посоветовавшись с врачом и предупредив тренера.</p>
                        <p class="lead mb-0">* При межпозвонковых грыжах дисков: можно заниматься только посоле консультации со специалистом!</p>
                        <p class="lead mb-0">* Разумеется, нельзя делать асаны в период обострения любой болезни, не устранив предварительно острую боль (особенно это касается острой боли в шее или пояснице).</p>
                        <p class="lead mb-0">* Занятия йогой также лучше прекратить в том случае, если каждый раз после занятий йогой у вас происходит ухудшение самочувствия, и такая неприятность продолжается раз за разом. В таком случае, проконсультируйтесь о пользе занятий с врачом и посоветуйтесь с вашим инструктором по йоге о том, что нужно изменить в персональной практике йоги.</p>
                    </div>
                </div>
            <div class="d-flex justify-content-center align-items-center" style="margin-top: 20px;">
                <a href="/" class="btn btn-success rounded-pill px-5 сentered-button" type="button">Вернуться на главную страницу</a>
            </div>
        </div>
    </div>
        </div>
    </div>
</section>

<div class="my-5"></div>

{% endblock content %}