        <div class="flex-card">
            <h2>ID записи: {{ application.id }}</h2>
            <p>Имя: {{ application.name }}</p>

            <p>Дата записи: {{ application.appointment_date }}</p>
            <p>Статус записи: <span class="{{ application.status }}">{{ application.get_status_display }}</span></p>
            <div class="card-actions">
                <a href="{% url 'application_detail' application.id %}" class="btn btn-icon" title="Детали">
                    <i class="bi bi-eye"></i>
                </a>
                <a href="{% url 'application-update' application.id %}" class="btn btn-icon" title="Редактировать">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </div>
        </div>
