{% extends "base.html" %}
{% load static %}
{% block content %}

{# Hero секция #}
<section id="top" class="py-2">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-6">
                <h1 class="display-4 fw-bold mb-4">NAMASTE - путь света</h1>
                <p class="display-5 mb-4">От легкости в теле к здоровью и умиротворению</p>
                {% comment %} <a href="{% url 'application-create' %}" class="btn btn-lg px-5" style="background-color: var(--brand-gold); color: white; border: none;">
                    <i class="bi bi-calendar-check me-2"></i>Записаться на практику
                </a> {% endcomment %}
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'images/top.jpg' %}" class="img-fluid rounded" alt="hero" style="max-height: 400px;">
            </div>
        </div>
    </div>
</section>
{# Блок с общей информацией о йоге в гамаках #}
<section id="yoga-info" class="py-1">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-6 order-md-1 contraindications-column">
                <img src="{% static 'images/yoga-beach.jpg' %}" class="img-fluid" alt="yoga in beach" style="max-height: 800px; ">
            </div>
            <div class="col-md-6 order-md-2 contraindications-column">
                <h2 class="display-6 fw-bold mb-3 text-center">Йога в гамаках</h2>
                <h2 class="display-7 fw-bold mb-3 text-center">Что дает практика?</h2>
                <div class="d-flex flex-column">
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">гамак служит инструментом для правильного распределения веса в перевернутых асанах, то есть во время упражнения позвоночник не сжимается под давлением тела, а наоборот растягивается, от чего улучшается осанка;</p>
                    </div>
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">повышается упругость всего тела, сухожилия становятся эластичнее;</p>
                    </div>
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">повышается подвижность суставов;</p>
                    </div>
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">уходит гипертонус мышц шеи, спины, поясницы, тазового отдела;</p>
                    </div>
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">улучшается мозговая активность за счет повышения кровотока;</p>
                    </div>
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">нормализуется работа пищеварительного тракта;</p>
                    </div>
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">снижается уровень стресса, так как покачивание в гамаке вызывает детские ассоциации с качелями, возникает чувство безмятежности, легкости;</p>
                    </div>
                    <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">практикующий учится искать центр тяжести, это учит управлять телом, достигать баланса на физическом и эмоциональном уровнях;</p>
                    </div>
                                        <div class="flex-fill text-center">
                        <i class="bi bi-sun me-2"></i>
                        <p class="lead mb-0">нестандартный подход к привычным действиям открывает новые ресурсы мышления, расширяет границы восприятия.</p>
                    </div>
            </div>
        </div>
    </div>
</section>

{# Раздел с противопоказаниями #}
<section id="contraindications" class="py-2">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-12 col-lg-12 text-center">
                <p class="lead mb-4 text-center">‼️Практика может принести вред только при неграмотном подходе. Важно ознакомиться с противопоказаниями.‼️</p>
                <div class="d-flex justify-content-center align-items-center" style="margin-top: 20px;">
                <a href="{% url 'contraindications' %}" class="btn btn-success rounded-pill px-5 сentered-button">Ознакомиться с противопоказаниями</a>
                </div>
            </div>
        </div>
    </div>
</section>

{# Секция "Записаться" (теперь просто ссылка) #}
<section id="get-application" class="py-5 bg-light text-center">
    <div class="container">
        <h2 class="text-center mb-4">Готовы начать путь?</h2>
        <p class="lead mb-4">Нажмите на кнопку, чтобы перейти на страницу записи и выбрать удобное время.</p>
        <a href="{% url 'application-create' %}" class="btn btn-success rounded-pill px-5 сentered-button">
            Перейти к форме записи
        </a>
    </div>
</section>



{% endblock content %}
