{% comment %}
Шаблон письма для сброса пароля.
Используется системой восстановления пароля Django.
Контекстные переменные:
- user: объект пользователя
- email: email пользователя
- reset_url: URL для сброса пароля (содержит токен и UID)
- protocol: http или https
- domain: текущий домен сайта
- subject: тема письма
- text_body: текст письма
- html_body: HTML-версия письма
{% endcomment %}

{% block subject %}
Сброс пароля для {{ site_name }}
{% endblock %}

{% block text_body %}
Здравствуйте, {{ user.get_username }}!

Вы запросили сброс пароля для вашего аккаунта на {{ site_name }}.

Для установки нового пароля перейдите по ссылке:
{{ protocol }}://{{ domain }}{% url 'password_reset_link' uidb64=uid token=token %}

Если вы не запрашивали сброс пароля, проигнорируйте это письмо.

С уважением,
Команда {{ site_name }}
{% endblock %}