{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h1>Отзывы клиентов</h1>
        </div>

        {% for review in reviews %}
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">{{ review.name }}</h5>
                    <p class="card-text">{{ review.text }}</p>
                    <p class="card-text"><small class="text-muted">Рейтинг: {{ review.rating }}</small></p>
                </div>
            </div>
        {% endfor %}
            <div class="d-flex justify-content-center align-items-center action-select py-5" style="margin-top: 20px;">
                <a href="/" class="btn btn-success rounded-pill px-5 сentered-button" type="button">Вернуться на главную страницу</a>
            </div>
    </div>
{% endblock %}